<html>
<head>
	<meta charset="utf-8">
	<title>Polymathy</title>
    <link href="https://fonts.googleapis.com/css?family=Yatra+One" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<nav>
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'Bubbles')">Bubbles</button>
        <button class="tablinks" onclick="openTab(event, 'Leaves')">Leaves</button>
        <button class="tablinks" onclick="openTab(event, 'AutoChess')">Auto-Chess</button>
    </div>
</nav>

<body>

	<div id="Bubbles" class="tabcontent">
		<article>
			<h3>A Bubble's Quiver</h3>
			<p>Begins with what’s seen</p><br/>
        	<p>to become what will have been</p><br/>
			<p>It is deemed immaterial until not</p><br/>
			<p>Yet if not kept one would forgot</p><br/>
			<p>Fragile while inflating, it can easily burst</p><br/>
			<p>But until then, a bubble can never do its worst</p><br/>
		</article>
		<section class="bubbles">
			<ul class="bubbles_normal">
				<li>Bubble Title Here</li><br/>
				<li>Bubble Title Here</li>
			</ul>
		</section>
	</div>

	<div id="Leaves" class="tabcontent">
		<article>
			<h3>The Written Leaves</h3>
			<p>From page to page,</p><br/>
			<p>From joy to rage,</p><br/>
			<p>The voice as you read is heard.</p><br/>
			<p>But with ideas,</p><br/>
			<p>And poetic seers,</p><br/>
			<p>On the leaves you can find their words.</p><br/>
		</article>
		<section class="leaves">
		<section>
	</div>
<p></p>

</body>

<footer>
<button type="button" class="user-switch" margin="50%"></button>
</footer>

<script src="/scripts/tabs.js"></script>

</html>