{% load static %}

* {
	background-color: black;
	font-family: 'Yatra One';
	color: #D7D7E8;
}

.bubbles_normal tr th {
    background-image: url('../images/Bubble normal 300.png')
    width: 175px;
    height: 175px;


}

footer {
    position: fixed;
	text-align: center;
	margin: 0 auto;
	padding: 0;
	bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}

footer button {
    button: none;
}

body div {
	text-align: center;
	line-height: 0;
}

/*tabs*/
nav {
    position: fixed;
}

div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color:inherit;
    height: 3em;
}
div.tab button {
    background-color: transition;
    font-size: 1.5em;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1em 1.6em;
    transition: 0.3s;
}
div.tab button.active {
    background-color: #333;
}
.tabcontent {
    overflow: scroll;
    display: none;
    padding-top: 50px;
    border: none;
    border-top: none;
}

/*fadeaway*/
.tab-pane:after {
    content:'';
    position: fixed;
    top: 0;
    left: 0;
    height: 20px;
    right: 0;
}
